<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirigir raíz a public/index.php
    RewriteRule ^$ public/index.php [L]
    
    # Redirigir todo lo que no sea un archivo o directorio a public/index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>

# Proteger archivos sensibles
<FilesMatch "\.(env|log|sql)$">
    Order allow,deny
    Deny from all
</FilesMatch>
